@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300&display=swap");
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Saira Condensed", sans-serif; }

body p, body a, body .btn {
  font-family: "Arima Madurai", cursive; }

.form-control::placeholder {
  font-family: "Arima Madurai", cursive; }

#menubar .navbar {
  opacity: 0.7;
  box-shadow: 2px 2px 5px #3292a6; }

#menubar .nav-link {
  font-family: "Saira Condensed", sans-serif;
  font-weight: bold; }

#menubar .nav-link:hover {
  color: #FFCA28; }

#menubar a {
  text-decoration: none;
  color: #6F939D; }

#menubar .d-inline {
  font-family: "Saira Condensed", sans-serif; }

#menubar .nav-item {
  fornt-family: "Arima Madurai", cursive;
  font-size: 18px;
  color: #6F939D;
  padding-right: 10px; }

#menubar .nav-item:last-child {
  padding-right: 0; }

#home-section {
  background: url("../img/bg.jpg") no-repeat center top;
  background-attachment: fixed;
  background-size: cover; }
  #home-section .bg-overlay {
    background: rgba(50, 146, 150, 0.7);
    padding-top: 115px;
    padding-bottom: 150px; }
  #home-section .btn {
    border-radius: 0; }

#subscribe-section {
  background: #252525; }
  #subscribe-section .form-control {
    border-radius: 0; }
  #subscribe-section .btn {
    border-radius: 0;
    background: #6F939D; }
  #subscribe-section .btn:hover {
    background: white;
    color: #6F939D; }

#under-subscribe .card-body {
  border: 1px solid #6F939D; }

#under-subscribe h3 {
  color: #6F939D; }

#under-subscribe .smarter {
  background: #6F939D;
  color: white; }

#about-service {
  background: #F8F9FA; }
  #about-service .display-4 {
    color: #FFCA28; }
  #about-service a {
    text-decoration: none;
    color: #252525;
    font-family: "Saira Condensed", sans-serif; }

#team-section h2 {
  color: #6F939D; }

#team-section .rounded {
  margin-top: -50px; }

#team-section .fa {
  font-size: 21px;
  color: #6F939D; }

#team-section .card:hover {
  background: #6F939D;
  color: white; }
  #team-section .card:hover .fa {
    color: white; }

#upper-footer {
  background: #F8F9FA; }
  #upper-footer .fa {
    border-radius: 0; }
  #upper-footer .form-control {
    border-radius: 0; }
  #upper-footer .btn {
    border-radius: 0;
    background: #6F939D;
    color: #FFCA28;
    font-weight: bold; }
  #upper-footer .btn:hover {
    background: #FFCA28;
    color: #6F939D;
    font-weight: bold; }
  #upper-footer img {
    margin-top: 150px; }
  #upper-footer h2 {
    color: #FFCA28; }
  #upper-footer p {
    color: #6F939D; }

#footer-section {
  background: #252525; }
  #footer-section .d-inline {
    color: #6F939D; }
  #footer-section .designer {
    color: #FFCA28; }
  #footer-section a {
    color: #FFCA28; }
