#menubar .navbar {
  opacity: 0.7;
  border-bottom: 3px solid #6F939D;
  border-top: 3px solid #6F939D; }

#menubar .nav-link {
  font-family: "Titillium Web", sans-serif;
  font-weight: bold; }

#menubar .nav-link:hover {
  color: #FFCA28; }

#menubar a {
  text-decoration: none;
  color: #6F939D; }

#menubar .d-inline {
  font-family: "Titillium Web", sans-serif; }

#menubar .nav-item {
  fornt-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
  color: #6F939D;
  padding-right: 10px; }

#menubar .nav-item:last-child {
  padding-right: 0; }

#home-section {
  background: url("../img/bg.jpg") no-repeat center top;
  background-attachment: fixed;
  background-size: cover; }
  #home-section .bg-overlay {
    background: rgba(50, 146, 150, 0.7);
    padding-top: 115px;
    padding-bottom: 150px; }
  #home-section .display-2 {
    font-family: "Titillium Web", sans-serif; }
  #home-section .lead {
    font-family: "Barlow Condensed", sans-serif; }
  #home-section .btn {
    border-radius: 0;
    font-family: "Barlow Condensed", sans-serif; }

#subscribe-section {
  background: #252525; }
  #subscribe-section .form-control {
    border-radius: 0; }
  #subscribe-section .btn {
    border-radius: 0;
    background: #6F939D;
    font-family: "Titillium Web", sans-serif; }
  #subscribe-section .btn:hover {
    background: white;
    color: #6F939D; }

#under-subscribe .card-body {
  border: 1px solid #6F939D; }

#under-subscribe h3 {
  color: #6F939D;
  font-family: "Titillium Web", sans-serif; }

#under-subscribe .lead {
  font-family: "Barlow Condensed", sans-serif; }

#under-subscribe .smarter {
  background: #6F939D;
  color: white; }

#about-service {
  background: #F8F9FA; }
  #about-service .display-4 {
    color: #FFCA28;
    font-family: "Titillium Web", sans-serif; }
  #about-service .lead {
    font-family: "Barlow Condensed", sans-serif; }
  #about-service a {
    text-decoration: none;
    color: #252525; }

#team-section h2 {
  font-family: "Titillium Web", sans-serif;
  color: #6F939D; }

#team-section h4 {
  font-family: "Titillium Web", sans-serif; }

#team-section h6 {
  font-family: "Titillium Web", sans-serif; }

#team-section .lead {
  font-family: "Barlow Condensed", sans-serif; }

#team-section .rounded {
  margin-top: -50px; }

#team-section .fa {
  font-size: 21px;
  color: #6F939D; }

#team-section .card:hover {
  background: #6F939D;
  color: white; }
  #team-section .card:hover .fa {
    color: white; }

#upper-footer {
  background: #F8F9FA; }
  #upper-footer .fa {
    border-radius: 0; }
  #upper-footer .form-control {
    border-radius: 0; }
  #upper-footer .btn {
    border-radius: 0;
    background: #6F939D;
    color: #FFCA28;
    font-family: "Titillium Web", sans-serif;
    font-weight: bold; }
  #upper-footer .btn:hover {
    background: #FFCA28;
    color: #6F939D;
    font-weight: bold; }
  #upper-footer img {
    margin-top: 150px; }
  #upper-footer h2 {
    font-family: "Titillium Web", sans-serif;
    color: #FFCA28; }
  #upper-footer p {
    font-family: "Barlow Condensed", sans-serif;
    color: #6F939D; }

#footer-section {
  background: #252525; }
  #footer-section .d-inline {
    color: #6F939D;
    font-family: "Titillium Web", sans-serif; }
  #footer-section .designer {
    font-family: "Barlow Condensed", sans-serif;
    color: #FFCA28; }
  #footer-section a {
    font-family: "Barlow Condensed", sans-serif;
    color: #FFCA28; }
