$comclr:#6F939D;
$secclr:#FFCA28;
$bgclr:#F8F9FA;

$hfont:'Titillium Web', sans-serif;
$pfont:'Barlow Condensed', sans-serif;

#menubar{
  .navbar{
    opacity: 0.7;
    border-bottom:3px solid $comclr;
    border-top:3px solid $comclr
  }
  .nav-link{
    font-family:$hfont;
    font-weight:bold;
  }
  .nav-link:hover{
    color:$secclr;
  }
  a{
    text-decoration:none;
    color:$comclr;
  }
  .d-inline{
    font-family:$hfont;
  }
  .nav-item{
    fornt-family:$pfont;
    font-size:18px;
    color:$comclr;
    padding-right:10px;
  }
  .nav-item:last-child{
    padding-right:0;
  }
}
#home-section{
  background:url('../img/bg.jpg') no-repeat center top;
  background-attachment:fixed;
  background-size:cover;
  margin-top:68px;
  .bg-overlay{
    background:rgba(50,146,150,0.7);
    padding-top:115px;
    padding-bottom:150px;
  }
  .display-2{
    font-family:$hfont;
  }
  .lead{
    font-family:$pfont;
  }
  .btn{
    border-radius:0;
    font-family:$pfont;
  }
}
#subscribe-section{
  background:#252525;
  .form-control{
    border-radius:0;
  }
  .btn{
    border-radius:0;
    background:$comclr;
    font-family:$hfont;
  }
  .btn:hover{
    background:white;
    color:$comclr;
  }
}
#under-subscribe{
  .card-body{
    border:1px solid $comclr;
  }
  h3{
    color:$comclr;
    font-family:$hfont;
  }
  .lead{
    font-family:$pfont;
  }
  .smarter{
    background:$comclr;
    color:white;
  }
}
#about-service{
  background:$bgclr;
  .display-4{
    color:$secclr;
    font-family:$hfont;
  }
  .lead{
    font-family:$pfont;
  }
  a{
    text-decoration:none;
    color:#252525;
  }
}
#team-section{
  h2{
    font-family:$hfont;
    color:$comclr;
  }
  h4{
    font-family:$hfont;
  }
  h6{
    font-family:$hfont;
  }
  .lead{
    font-family:$pfont;
  }
  .rounded{
    margin-top:-50px;
  }
  .fa{
    font-size:21px;
    color:$comclr;
  }
  .card:hover{
    background:$comclr;
    color:white;
    .fa{
      color:white;
    }
  }
}
#upper-footer{
  background:$bgclr;
  .fa{
    border-radius:0;
  }
  .form-control{
    border-radius:0;
  }
  .btn{
    border-radius:0;
    background:$comclr;
    color:$secclr;
    font-family:$hfont;
    font-weight:bold;
  }
  .btn:hover{
    background:$secclr;
    color:$comclr;
    font-weight:bold;
  }
  img{
    margin-top:150px;
  }
  h2{
    font-family:$hfont;
    color:$secclr;
  }
  p{
    font-family:$pfont;
    color:$comclr;
  }
}
#footer-section{
  background:#252525;
  .d-inline{
    color:$comclr;
    font-family:$hfont;
  }
  .designer{
    font-family:$pfont;
    color:$secclr;
  }
  a{
    font-family:$pfont;
    color:$secclr;
  }
}
